name: image-builder-playdocker
on:
  workflow_dispatch:
  schedule:
    - cron: '35 0,4,8,12,16,20,22 * * *'      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Docker login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }} 
    - name: Exec build shell
      run: |
        docker run -d --name chrome -p 4444:4444 -p 7900:7900 qics/chrome
        docker run -d --name playdocker --net host qics/playdocker
        docker logs -f playdocker


  
  
